body {
    background-color: #f8f9fa;
}

.container {
    max-width: 800px;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-group-item a {
    text-decoration: none !important;
    color: inherit !important;
}

.list-group-item a:hover {
    text-decoration: underline !important;
}
