body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f5f5f5;
    color: #333;
}

h1 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
    color: #333;
}

h2 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 25px;
    color: #333;
}


a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #2d2b5a;
}

.action {
    display: inline-block;
    padding: 10px 20px;
    background-color: #272727;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s;
    
}

.action:hover {
    background-color: #2d2b5a;
    color: white;
    transform: scale(1.05);
}

.action:active {
    background-color: #4f4c82;
    color: white;
    transform: scale(0.98);
}


.table {
    width: 1000px;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border-radius: 5px;
}

.table thead {
    background-color: #333;
}

.table th {
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 18px;
}

.table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

.table td a {
    text-decoration: none;
    color: #000000;
}

.table td a:hover {
    text-decoration: underline;
}


form {
    width: 400px;
    padding: 20px;
    margin: 50px auto;
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

form p {
    margin-bottom: 15px;
}

form label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    color: #555;
}

form input,
form textarea,
form select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

form textarea {
    resize: vertical;
}

form input:focus,
form textarea:focus,
form select:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
