{% extends 'base.html' %}

{% block title %}{{ todo_list.title }}{% endblock %}

{% block content %}
<a href="{% url 'todo_lists' %}" class="btn btn-danger btn-sm">Назад</a>
<h1>{{ todo_list.title }}</h1>
<p>{{ todo_list.description }}</p>

<a href="{% url 'edit_todo_list' todo_list.id %}" class="btn btn-warning">Редактировать</a>
<a href="{% url 'delete_todo_list' todo_list.id %}" class="btn btn-danger">Удалить</a>

<h2>Задачи</h2>

<ul class="list-group">
    {% for todo in todos %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <div>
            <strong>{{ todo.title }}</strong> ({{ todo.due_date }}) --- 
            {% if todo.status %}
                Выполнено
            {% else %}
                Не выполнено
            {% endif %}
            <p>{{ todo.description }}</p>
        </div>
        <div>
            <a href="{% url 'edit_todo' todo.id %}" class="btn btn-warning btn-sm">Редактировать</a>
            <form method="post" action="{% url 'delete_todo' todo.id %}" class="d-inline">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger btn-sm">Удалить</button>
            </form>
        </div>
    </li>    
    {% endfor %}
</ul>

<button type="button" class="btn btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#createTodoModal">
    Добавить задачу
</button>

<div class="modal fade" id="createTodoModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Создать новую задачу</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success">Создать</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}