{% extends "base.html" %}

{% block title %}Список бронирований{% endblock %}

{% block content %}
    <h2 class="mb-4">Список бронирований</h2>
    <a href="{% url 'reservation_create' %}" class="btn btn-primary mb-3">Добавить бронирование</a>
    <table class="table table-bordered">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Клиент</th>
                <th>Стол</th>
                <th>Дата</th>
                <th>Статус</th>
            </tr>
        </thead>
        <tbody>
            {% for reservation in reservations %}
                <tr>
                    <td><a href="{% url 'reservation_detail' reservation.id %}" class="">{{ reservation.id }}</a></td>
                    <td>{{ reservation.customer.name }}</td>
                    <td>Стол №{{ reservation.table.number }}</td>
                    <td>{{ reservation.date }}</td>
                    <td>{{ reservation.get_status_display }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}