{% extends 'base.html' %}

{% block title %}Threads{% endblock %}

{% block content %}
<h1>Threads</h1>

<ul class="list-group">
    {% for thread in threads %}
    <li class="list-group-item">
        <a href="{% if thread.id %}{% url 'thread_detail' thread.id %}{% else %}#{% endif %}">
            {{ thread.name }}
        </a>
        <form method="post" action="{% url 'delete_thread' thread.id %}" class="d-inline">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger btn-sm">Удалить</button>
        </form>
    </li>
    {% endfor %}
</ul>

<button type="button" class="btn btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#createThreadModal">
    Создать Thread
</button>

<div class="modal fade" id="createThreadModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Создать Thread</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form method="post">
                    {% csrf_token %}
                    {{ thread_form.as_p }}
                    <button type="submit" class="btn btn-success">Создать</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
